<!DOCTYPE html>
<html>
  <head>
    <title>Info Page</title>
  </head>

  <body>
    <h1>
      Information Page
    </h1>
    <p>This is the info page: which is a secondary view</p>
  </body>
</html>
